body {
  /*
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
   */
  background: #4e1385;
  background: linear-gradient(to right, #4e1385, rgba(75, 185, 236, 0.8));
}

.page-title {
    text-align:center;
    font-family: monospace;
  }


#canvas{
  border: solid 2px blue;  
  width: 100%;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#result
{
  text-align:center;
  font-family: monospace;
}