
body {
  font-family: 'Wonder Boy In Monster World', sans-serif; 
  font-size: 1.0rem;
  min-height:100%;
  background:url(/img/castle.gif) rgba(153, 0, 255, 1.0);
  background-size:cover;
  background-blend-mode: multiply;  
}

/*
 * NavBar (Barra Alta)
 */
 
 .app-title {
  text-align:center;
}

/*
 * App
 */

.back{
  color: #fff;
  background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);        
  background-image: url(/img/castle.gif);
  background-position: left bottom;
  background-repeat: no-repeat;  
}

.castle-test{
  min-height:100%;
  background:url(/img/castle.gif) rgba(153, 0, 255, 0.3);
  background-size:cover;
  background-blend-mode: multiply;
}

.bg-purple {
  color: #fff;
  background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
}

.bg-grey {
  color: rgb(8, 8, 8);
  background: -webkit-linear-gradient(110deg, #6c7380 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #606672 70%, #78808f 70%);
  background: -o-linear-gradient(110deg, #6c7380 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #606672 50%, #78808f 70%);
  background: -moz-linear-gradient(110deg, #6c7380 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #606672 70%, #78808f 70%);
  background: linear-gradient(110deg, #6c7380 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #606672 70%, #78808f 70%);
}

.small, small {
  font-size: 85%;
  width: -webkit-fill-available;
  align-self: center;
}

.row-center {
  align-self: center;
  align-items: center;
}

#item-container {
  align-self: center;
}

/*
 * Button
 */

.btn {
  font-size: .60rem;
}

 .btn.btn-sm {
  padding: 0.3rem 1.6rem;
  padding-top: 0.3rem;
  padding-right: 1.6rem;
  padding-bottom: 0.3rem;
  padding-left: 1.6rem;
}

.btn-card {
  max-width: max-content;
}

/*
 * Card
 */
 .card-main{
  height: max-content;
  opacity: 92%;
}

.card-mint{
  height: max-content;
}

/*
 * Image
 */

img {
    background: transparent;
 }

.img-logo {
  width: 55;
  height: 55;
}

.img-item{
    width: 20%;
}

.img-pg {
  width: 5%;
  margin: 0.1rem 1rem 0.1rem 1rem;
}

.img-banner{
  max-width: 100%;
  max-height: 100%;
}

/*
 * Menu
 */

 .sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: auto;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding: 8px;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  opacity: 92%;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  transition-duration: 0.4s;
  cursor: pointer;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #117a8b;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.nav-link-menu {
  text-decoration: none;
}

.nav-link-menu:hover {
  color: grey;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.a_social{
  margin: 8px;
  text-align: -webkit-center;
  padding: auto;
}

#main{
  align-items: center;
  /* vertical-align: -webkit-baseline-middle; */
  padding: 10px;
}


.bar_pg{
  width: 100%;
  background: linear-gradient(110deg, #838382 60%, #b4b4b1 60%);
}



.col-row-mint
{
  text-align: -webkit-left;
  align-self: center;
}

.img_sel{
  float: left;
}

.row_pg {
  justify-content: center;
  min-width: -webkit-fill-available;
}

.gif {
  align-self: center;
  max-width: max-content;
}

.carousel {
  position: relative;
  max-height: -webkit-fill-available;
}


.media {
  margin-bottom: 1.5rem;
  margin-right: 2%;
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9;
  border-radius: .5rem;
  align-items: center;
}

.modal-xl {
    max-width: max-content;
}

.box-anim-mint {
  background-color: transparent;
  position: relative;
  animation-name: anim-mint;
  animation-duration: 10s;
}

@keyframes anim-mint {
  0%    {background-color:transparent; left:0px; top:0px;}
  10%   {background-color:transparent; left:0px; top:0px;}
  20%   {background-color:transparent; left:0px; top:0px;}
  30%   {background-color:transparent; left:0px; top:0px;}
  40%   {background-color:rgb(125, 22, 194); left:0px; top:-4px;}
  50%   {background-color:red; left:0px; top:-6px;}
  60%   {background-color:rgb(241, 241, 22); left:0px; top:-8px;}
  70%   {background-color:rgb(22, 173, 22); left:0px; top:-6px;}
  80%   {background-color:rgb(14, 87, 247); left:0px; top:-4px;}
  90%   {background-color:rgb(125, 22, 194); left:0px; top:-2px;}
  100%  {background-color:transparent; left:0px; top:0px;}
}


/*
 * Card
 */

.card {
  margin-bottom: 1.5rem;
  margin-right: 2%;
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9;
  border-radius: .5rem;
  height: fit-content;
}

.card-std {
  margin-bottom: 1.5rem;
  margin-right: 2%;
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9;
  border-radius: .5rem;
  height: auto;
}

/*
 * Sidebar
 */

 .sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


#canvas{
  border: solid 2px blue;  
  width: 100%;
}

#logo:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#result
{
  text-align:center;
}

